.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(138, 24, 26, .95);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: rgba(200, 178, 115, .65);
  font-family: Palatino, Garamond;
  font-weight: bold;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: rgba(200, 178, 115);
  text-decoration: none;
}

.splash {
	background-image: url('adroit-full-logo-b-hsv.png'), url("adroit-background-1.png");
	background-position: bottom left, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 50%, cover;
}
.btn {
  border: 2px solid #cc9966;
  transition-duration: 0.4s;
  text-shadow: 1px 1px 1px #FFFFFF;
}
.btn:hover {
	background-color: #cc9966;
	border: 2px solid #cc9966;
	color: #990033;
	text-shadow: 0px 0px 0px #990033;
}

.standard-font-fam {
	font-family: Palatino, Garamond;
	font-size: 1.75em;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */
 
 .white {color: #ffffff }
.gold {color: #cc9966 }
.red { color: #990033 }
.blue { color: #003366 }
.gold-background { background-color: #cc9966}
.text-shadow-white { text-shadow: 1px 1px 1px #FFFFFF;}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
